name: Deploy pages
on: push
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Build
        run: bun run build-gha
      - name: Build PDF
        run: bun run export-pdf
      - name: Deploy pages
        uses: crazy-max/ghaction-github-pages@v4
        with:
          build_dir: dist
          target_branch: gh-pages
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
